<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomUser</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">
  <div id="app">
    <div class="container mx-auto bg-black">
      <div class="mb-3 pt-3 text-white">
        <button type="button" class="py-1 px-3 text-sky-500 rounded outline outline-sky-500 mr-3" @click="fetchData">
          換一組
        </button>
        <button type="button" class="py-1 px-3 text-sky-500 rounded outline outline-sky-500 mr-3" @click="changeImg">
          切換大頭貼解析度
        </button>
        現在圖片解析度：
        <span class="text-white text-xl font-bold" v-show="imgType === 'large'">清晰</span>
        <span class="text-white text-xl font-bold" v-show="imgType === 'medium'">中等</span>
        <span class="text-white text-xl font-bold"  v-show="imgType === 'thumbnail'">模糊</span>
      </div>

       <article class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 pb-3">
        <div v-for="(item, index) in users" :key="index" class="relative bg-white border border-white rounded">
          <div class="absolute top-5 right-5">
            <button type="button" class="py-1 px-2 bg-black/50 border border-red-500 rounded-[50%]" @click="item.loveZone = !item.loveZone">
              <span class="text-2xl" title="愛心" v-show="item.loveZone">❤️</span>
              <span class="text-2xl" title="取消愛心" v-show="!item.loveZone">🤍</span>
            </button>
          </div>
          <!-- 也可以不設imgType, 直接 item.picture.large -->
          <img :src="item.picture[imgType]" alt="人像相片" class="w-full aspect-square">
          <div class="flex flex-col gap-3 p-3">
            <p class="text-2xl">
              {{ item.name.first }} {{ item.name.first }}
                <span v-if="item.gender === 'male'">👨</span>
                <span v-else>👩</span> 
            </p>
            <p>
              Email：
              <a href="" class="underline text-blue-500 break-all">
                {{ item.email }} 
              </a>
            </p>
            <p>
              Phone：
              <a href="" class="underline text-blue-500">
                {{ item.phone }} 
              </a>
            </p>
            <p>
              Cell：
              <a href="" class="underline text-blue-500">
                {{ item.cell }} 
              </a>
            </p>
            <p>City：{{ item.location.city }}</p>
            <p>State：{{ item.location.state }}</p>
            <p>Country：{{ item.location.country }}</p>
            <p>Postcode：{{ item.location.postcode }}</p>
            <p>
              Address：{{ item.location.city }} {{ item.location.state }} {{ item.location.country }} {{ item.location.postcode }}
            </p>
            <p>
              <!-- Mountain Time (US & Canada) -->
              TimeZone：{{ item.location.timezone.description }}
            </p>
            <p>
              <!-- 1975-04-07T00:46:39.182Z -->
              <small>Birthday：{{ item.dob.date.substr(0,10) }} </small>
            </p>
            <p>
              <small>registered：{{ item.registered.date.slice(0,10) }}</small>
            </p>
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&amp;hl=zh-TW&amp;geocode=&amp;q=29.4248,-99.7754&amp;z=10&amp;output=embed"></iframe>
          </div>
        </div>
      </article>
    </div> 
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./randomuser.js"></script>
</body>
</html>